<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:jaxrs="http://cxf.apache.org/jaxrs"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd">
    <import resource="classpath:META-INF/cxf/cxf.xml"/>
    <import resource="classpath:META-INF/cxf/cxf-servlet.xml" />
      
<!--     <bean class="org.springframework.web.context.support.ServletContextPropertyPlaceholderConfigurer"/> -->
<!--     <bean class="org.springframework.beans.factory.config.PreferencesPlaceholderConfigurer"/> -->
    <jaxrs:server id="BookStoreService" address="/vendors">
        <jaxrs:serviceBeans>
       		<bean id="VendorBean" class="com.ebook.service.vendor.resource.VendorResource"/>
        </jaxrs:serviceBeans>     
        <jaxrs:providers>
            <bean class="org.codehaus.jackson.jaxrs.JacksonJsonProvider"/>
        </jaxrs:providers>
        <jaxrs:schemaLocations>
        	<jaxrs:schemaLocation>com.ebook.service.vendor.representation.VendorLineRepresentation</jaxrs:schemaLocation>
        	<jaxrs:schemaLocation>com.ebook.service.vendor.representation.VendorLineRequest</jaxrs:schemaLocation>
        	<jaxrs:schemaLocation>com.ebook.service.vendor.representation.VendorRepresentation</jaxrs:schemaLocation>
        	<jaxrs:schemaLocation>com.ebook.service.vendor.representation.VendorRequest</jaxrs:schemaLocation>
        </jaxrs:schemaLocations>
    </jaxrs:server>
    
  
</beans>